@use '../variables' as vars;

.mobile-menu {
    display: none;
  
    @media (max-width: 770px) {
      position: absolute;
      left: 0;
      width: 100%;
      height: 222px;
      background-color: vars.$dark;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 36px;
      padding: 20px;
      z-index: 1000;
      transform: translateY(-100%);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
  
      &.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
      }
  
      a.nav__link,
      .header__explore {
        font-size: 18px;
      }
    }
}